.git/

# copy of .gitignore
.idea/
.gradle/
build/
cmake-build-debug/
*.iws
out/
*.iml
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
*.class
*.log
*.ctxt
.mtj.tmp/
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
Dockerrun.aws.json
dist
.elasticbeanstalk/*
!.elasticbeanstalk/config.yml
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
ecr.repo
/dps-gradle-spring-boot-suppressions.xml
.editorconfig
**/Chart.lock
